{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<style>
  :root {
    --h-tab-width: 365px;
    --h-tab-gap: 217px;
    --h-active-tab-color: #838383;
  }

  .h--customer__title {
    text-align: center;
  }

  .h--customer-tabs {
    text-transform: uppercase;
    list-style: none;
    display: grid;
    position: relative;
    margin-top: 64px !important;
  }

  .h--customer-tabs li details {
    font-size: 16px;
    text-transform: none;
    gap: var(--h-tab-gap);
  }

  .h--customer-tabs li > a,
  .h--customer-tabs li summary {
    width: var(--h-tab-width);
    text-align: center;
    padding-block: 32px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
  }

  .h--customer-tabs li details[open] summary {
    color: var(--h-active-tab-color);
  }

  .h--customer-tabs li a {
    display: block;
  }

  .h--customer-tabs li a:hover {
    text-decoration: none;
    color: var(--h-active-tab-color);
  }

  .h--customer-tabs li {
    width: var(--h-tab-width);
  }
  .h--customer-tabs li:not(:last-child) {
    border-bottom: 1px solid black;
  }

  .h--details-content {
    position: absolute;
    width: 50vw;
    max-width: 800px;
    height: 100%;
    top: 0;
    left: calc(var(--h-tab-width) + var(--h-tab-gap));
    padding-block: 1rem;
    display: flex;
    align-items: center;
  }

  .h--details-content a[href*="tel"],
  .h--details-content a[href*="mailto"] {
    font-size: 22px;
    padding: 16px 0;
    text-align: left;
    text-decoration: none;
  }

  .h--details-content a[href*="tel"] {
    margin-bottom: 2rem;
  }
</style>

<div class="customer account section-{{ section.id }}-padding">
  <h1 class="customer__title h--customer__title">{{ 'customer.account.title' | t }}</h1>
  <ul class="h--customer-tabs">
    <li>
      <details name="tab" open>
        <summary>MY ORDERS</summary>
        <div class="h--details-content">
          <section>
            {% paginate customer.orders by 20 %}
              {%- if customer.orders.size > 0 -%}
                <table role="table" class="order-history">
                  <caption class="visually-hidden">
                    {{ 'customer.orders.title' | t }}
                  </caption>
                  <thead role="rowgroup">
                    <tr role="row">
                      <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                      <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                      <th id="ColumnPayment" scope="col" role="columnheader">
                        {{ 'customer.orders.payment_status' | t }}
                      </th>
                      <th id="ColumnFulfillment" scope="col" role="columnheader">
                        {{ 'customer.orders.fulfillment_status' | t }}
                      </th>
                      <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody role="rowgroup">
                    {%- for order in customer.orders -%}
                      <tr role="row">
                        <td
                          id="RowOrder"
                          role="cell"
                          headers="ColumnOrder"
                          data-label="{{ 'customer.orders.order_number' | t }}"
                        >
                          <a
                            href="{{ order.customer_url }}"
                            aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                          >
                            {{ order.name }}
                          </a>
                        </td>
                        <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                          {{ order.created_at | time_tag: format: 'date' }}
                        </td>
                        <td
                          headers="RowOrder ColumnPayment"
                          role="cell"
                          data-label="{{ 'customer.orders.payment_status' | t }}"
                        >
                          {{ order.financial_status_label }}
                        </td>
                        <td
                          headers="RowOrder ColumnFulfillment"
                          role="cell"
                          data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                        >
                          {{ order.fulfillment_status_label }}
                        </td>
                        <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                          {{ order.total_net_amount | money_with_currency }}
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              {%- else -%}
                <div>{{ 'customer.orders.none' | t }}</div>
              {%- endif -%}

              {%- if paginate.pages > 1 -%}
                {%- if paginate.parts.size > 0 -%}
                  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                    <ul role="list">
                      {%- if paginate.previous -%}
                        <li>
                          <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                            </svg>
                          </a>
                        </li>
                      {%- endif -%}

                      {%- for part in paginate.parts -%}
                        <li>
                          {%- if part.is_link -%}
                            <a
                              href="{{ part.url }}"
                              aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                            >
                              {{- part.title -}}
                            </a>
                          {%- else -%}
                            {%- if part.title == paginate.current_page -%}
                              <span
                                aria-current="page"
                                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                              >
                                {{- part.title -}}
                              </span>
                            {%- else -%}
                              <span>{{ part.title }}</span>
                            {%- endif -%}
                          {%- endif -%}
                        </li>
                      {%- endfor -%}

                      {%- if paginate.next -%}
                        <li>
                          <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                            </svg>
                          </a>
                        </li>
                      {%- endif -%}
                    </ul>
                  </nav>
                {%- endif -%}
              {%- endif -%}
            {% endpaginate %}
          </section>
        </div>
      </details>
    </li>
    <li>
      <details name="tab">
        <summary>ADRESS BOOK</summary>

        <div class="h--details-content">
          <section>
            {{ customer.default_address | format_address }}

            <a target="_blank" href="{{ routes.account_addresses_url }}">
              {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
            </a>
          </section>
        </div>
      </details>
    </li>
    {% comment %}
      <li>
        <a href="#contact-us">
          MY WISHLIST
        </a>
      </li>
    {% endcomment %}
    <li>
      <details name="tab">
        <summary>CONTACT US</summary>

        <div class="h--details-content">
          <section>
            <p>
              If you have any queries please do not hesitate to contact us in whichever way works best for you. We're
              here to help and answer any questions you may have. We have an FAQs section and the answer might be there
              already. If not, please fill in the form below and we will be in touch.
            </p>
            <p>
              If you wish to book an in-person appointment, add your details and your preferred date and contact method
              to the message form, and one of our team will be in touch.
            </p>

            <p>
              Call Us<br>
              <a href="tel:+44 20 7930 8874">+44 20 7930 8874</a>
            </p>
            <p>
              Write Us<br>
              <a href="mailto:support@glyginahats.com">support@glyginahats.com</a>
            </p>
          </section>
        </div>
      </details>
    </li>
    <li>
      <a href="{{ routes.account_logout_url }}">
        {{ 'customer.log_out' | t }}
      </a>
    </li>
  </ul>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
