<style>
  .h--video-banner-section  {
    position: relative;
    min-height: calc(100vh - 84px);
    display: flex;
  }

  .h--video-banner-section__video {
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
    }

    .h--video-banner-section__video video {
        width:100%;
        object-fit: cover;
    }

    .h--video-banner-section__content {
        position: relative;
        z-index: 2;
        margin: auto;
    }
</style>

<div class="h--video-banner-section template-{{ template.name }}">
  <div class="h--video-banner-section__video">
    {%- if section.settings.video != blank -%}
      <video
        autoplay
        src="{{ section.settings.video }}"
        width="960"
        height="auto"
      />
    {%- endif -%}
  </div>

  {% comment %} --- {% endcomment %}

  <div class="h--video-banner-section__content">
    {%- if section.settings.image != blank -%}
      <img
        class="h--video-banner-image"
        src="{{ section.settings.image | image_url }}"
        alt="{{ section.settings.image.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}"
      >
    {%- endif -%}

    {%- if section.settings.title != blank -%}
      <h2 class="h2 inline-richtext">
        {{ section.settings.title }}
      </h2>
    {%- endif -%}
    {%- if section.settings.subtitle != blank -%}
      <p class="inline-richtext">
        {{ section.settings.subtitle }}
      </p>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "Video-banner-section",
  "tag": "section",
  "class": "section-video section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "video",
      "label": "Video URL"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Video URL"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Video banner title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Video banner subtitle"
    }
  ],
  "blocks": [
    {
      "type": "video-banner-section",
      "name": "Logo for banner",
      "settings": [
        {
          "type": "video_url",
          "id": "video",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "Background video url",
          "placeholder": "Bg video",
          "info": "info"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "logo-banner-label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title for video banner",
          "label": "t:sections.collage.blocks.video.settings.description.label",
          "info": "t:sections.collage.blocks.video.settings.description.info"
        },
        {
          "type": "text",
          "id": "subtitle",
          "default": "Describe braand",
          "label": "t:sections.collage.blocks.video.settings.description.label",
          "info": "t:sections.collage.blocks.video.settings.description.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video-banner-section",
      "settings": {
        "title": "Video banner"
      },
      "blocks": [
        {
          "type": "video-banner-section"
        }
      ]
    }
  ]
}
{% endschema %}
