<style>
  .h--video-banner-section {
    position: relative;
    min-height: calc(100vh - 84px);
    display: flex;
  }

  .h--video-banner-section__video {
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
  }

  .h--video-banner-section__video video {
    width: 100%;
    object-fit: cover;
  }

  .h--video-banner-section__content {
    position: relative;
    z-index: 2;
    margin: auto;
  }
</style>

<div class="h--video-banner-section template-{{ template.name }}">
  <div class="h--video-banner-section__video">
    <video
      autoplay
      src="{{ section.settings.video }}"
      width="960"
      height="auto"
    />
  </div>

  {% comment %} --- {% endcomment %}

  <div class="h--video-banner-section__content">
    {%- if section.settings.image != blank -%}
      <img
        class="h--video-banner-image"
        src="{{ section.settings.image | image_url }}"
        loading="lazy"
        width="92"
        height="auto"
        alt=""
      >
    {%- endif -%}

    {%- if section.settings.title != blank -%}
      <h2 class="h2 inline-richtext center">
        {{ section.settings.title }}
      </h2>
    {%- endif -%}
    {%- if section.settings.subtitle != blank -%}
      <p class="inline-richtext">
        {{ section.settings.subtitle }}
      </p>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "Video-banner-section",
  "tag": "section",
  "class": "section-video section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Banner video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Video URL"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Video banner title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Video banner subtitle"
    }
  ],
  "blocks": [
    {
      "type": "video-banner-section",
      "name": "Logo for banner",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Banner video"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title for video banner",
          "label": "Title for video banner",
          "info": "Title for video banner"
        },
        {
          "type": "text",
          "id": "subtitle",
          "default": "Describe braand",
          "label": "subtitle",
          "info": "subtitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video-banner-section",
      "settings": {
        "title": "Video banner"
      },
      "blocks": [
        {
          "type": "video-banner-section"
        }
      ]
    }
  ]
}
{% endschema %}
